/* ##################################### global styles ##################################### */
.App {
  text-align: center;
}

#tempId {
  background-color: black;
}

/* ##################################### page styles ##################################### */


/* ##################################### component styles ##################################### */


/* nav style */
#navContainer {
  background-color: #F4CDC4;
}

.navTitleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.socials {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-around;
}

.socials button {
  background-color: rgb(214, 211, 204);
  border: none;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navTitleContainer img {
  width: 13vh;
}

.navbar {
  font-size: 20px;
  margin: 20px 30px;
  list-style: none;
  border-top: 1px solid black;
}

.linksContainer a{
  text-decoration: none;
  color: black;
}

.linksContainer a:hover {
  color: rgb(196, 193, 187);
}

/* Home Component */

#welcomeTitleContainer {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#welcomeImg {
  background-color: rgb(84, 84, 84);
  width: 600px;
  height: 500px;
  margin: 20px 0px;
  object-fit: cover;
  object-position: 50% 50%;
}

#welcomeMsg {
  max-width: 40vw;
}

#homePackagesContainer {
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#homePackagesMsg {
  max-width: 30vw;
}

#homePackagesImg {
  background-color: rgb(84, 84, 84);
  width: 400px;
  height: 400px;
}

.homeTitle {
  font-size: 50px;
  font-family: 'Italianno', cursive;
}

.homeDescription {
  font-size: 20px;
  font-family: 'Zilla Slab Highlight', serif;
}

/* Footer styles */
#footerContainer {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F4CDC4;
}

#footerContainer img {
  width: 13vh;
}

#footerContainer button {
  margin-right: 10px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  padding-left: 10px;
  width: fit-content;
}

#locationsTitle {
  font-size: 20px;
}