/* ##################################### global styles ##################################### */
.App {
  text-align: center;
}

/* ##################################### page styles ##################################### */


/* ##################################### component styles ##################################### */


/* nav style */
#navContainer {
  background-color: rgb(240, 237, 231);
}

.navTitleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.socials {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-around;
}

.socials button {
  background-color: rgb(214, 211, 204);
  border: none;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.navTitleContainer img {
  width: 13vh;
}

.navbar {
  font-size: 20px;
  margin: 20px 30px;
  list-style: none;
  border-top: 1px solid black;
}

.nav-link:hover {
  color: rgb(196, 193, 187);
}